@import "../../../assets/colors";

.contactHeader {
  width: 100%;
  background-color: black;
  color: white;
  padding: 100px 0;
  min-width: 375px;
  @media (max-width: 600px) {
    padding: 50px 0;
  }
  @media (max-width: 425px) {
    padding: 10px 0;
  }

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      margin: 0 auto;
      min-height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 50px 150px;
      @media (max-width: 800px) {
        flex-direction: column;
        &--form, &--text {
          width: 90% !important;
        }
      }

      &--text {
        width: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;

        &-title {
          font-size: 48px;
          font-weight: 900;
          letter-spacing: 2px;
          margin-bottom: 30px;

          span {
            color: $crimson;
          }
        }

        &-type {
          padding-left: 20px;
          border-left: 4px solid $bluryellow;
          margin-bottom: 30px;
          color: $bluryellow;
        }

        &-descr {
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: 500;
          margin-bottom: 30px;
        }

        &-link {
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: 500;
        }
      }

      &--form {
        width: 50%;
        .contactHeader__form {
          &-input, &-select, &-area {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 25px;

            label {
              font-size: 14px;
              font-weight: 800;
            }

            input, select, textarea {
              padding: 8px 16px;
              width: 450px;
              @media (max-width: 600px) {
                width: 90%;
              }
            }
          }
        }
      }
      .response{
        width: 50%;
        @media (max-width: 600px) {
          width: 100%;
        }
        &__title{
          color: $bluryellow;
          margin-bottom: 20px;
        }
        &__descr{
          font-size: 20px;
          font-weight: 600;
          color: $white;
        }
      }
    }
  }
}