@import '../assets/colors';

.main__wrapper{
  width: 100%;
  height: 98vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  main{
    width: 100%;
  }
}