.container{
  margin: 0 auto;
  max-width: 1312px;
  min-width: 375px;
  @media (max-width: 800px) {
    padding: 10px;
  }
}

.container-xs{
  margin: 0 auto;
  max-width: 1015px;
  min-width: 375px;
  @media (max-width: 800px) {
    padding: 10px;
  }
}